.head{
    padding:5rem 0px 0px 15rem;
    font-size: 6rem;
    font-weight: bold;
    color: rgb(23,31,57);
}

.subhead{
    padding:3rem 0px 0px 30rem;
    font-size: 3rem;
    font-weight: 300;
    color: rgb(23,31,57);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.log-container mat-form-field {
    margin-left: 8px;
  }

button{
    border: none;
    border-radius: 50%;       
}

mat-form-field{
    width: 15rem;
}

.log-container{
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.ripple-container {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight:500;

    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    background-color: rgb(255, 184, 52);
    color:rgb(23,31,57);

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
  }

.sign-in{
    color:rgb(23,31,57);
    font-size: 1rem;
    padding: 0.5rem 0 0.5rem 0;
}

.sign-in a{
    color:rgb(23,31,57);
    font-weight: 500;
    text-decoration: none;
}

.sign-in a:hover{
    color:rgb(243, 176, 51);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}