<body>
    <div>
      <app-side-nav></app-side-nav>
    </div>
    <main>
      <div class="display-area">
        <div class="welcome-msg">
            <h1>Welcome, name!</h1>
            <h3>Here is your plan for today</h3>
            <div class="">
              <!--welcome
              search bar-->
          </div>
        </div>
        <div class="grid">
          <div class="card">
            <app-calendar></app-calendar>
          </div>
          <div class="card">
            <app-todays-task></app-todays-task>
          </div>
          <div class="card">
            <app-all-tasks></app-all-tasks>
          </div>
        </div>
      </div>
    </main>
</body>