body{
    background-color: rgb(247,245,244);
}

main{
    position: absolute;
    width: 100%;
    top:4rem;
    z-index: 1;
}

app-side-nav{
    position: absolute;
    left:0rem;
    width:100px;
    height: 100%;
    background-color: rgb(23,31,57);
}

.display-area{
    width:100%;
    position: absolute;
    left:10rem;
}

.welcome-msg{
    color: rgb(23,31,57);
}

.welcome-msg h1{
    font-weight: bold;
    font-size: 2.5rem;
}

.welcome-msg h3{
    font-weight:lighter;
    font-size: 1.5rem;
}

.card{
    width:100%;
    border-radius: 1.5rem;
    background-color: white;
}

.grid{
    display: grid;
    grid-template-columns: 20rem 50%; 
    grid-template-rows: 22rem 20rem;
    column-gap: 2rem;
    row-gap: 2rem;
    padding-top:2rem;
}

