<div>
    <app-side-nav></app-side-nav>
  </div>
    <main>
      <div class="display-area">
        <div class="welcome-container">
          <div class="">
              <h1>{{ 'welcome' | translate }}, {{ userData.login }}!</h1>
              <h3>{{ 'plan' | translate}}</h3>
          </div>
            <div class="search-container">
              <!-- <form action="" class="search-bar" (ngSubmit)="searchForTask()">
                <input type="text" placeholder="{{ 'search' | translate }}" name="search" [(ngModel)]="searchText">
                <button type="submit"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon></button>
              </form> -->
              <form [formGroup]="formGroup" class="search-form">
                <mat-form-field>
                  <mat-label>
                    {{ 'search' | translate }}
                  </mat-label>
                  <input formControlName="task" matInput type="text" [matAutocomplete]="auto" />
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="loadTask($event.option.value.boardId)">
                    <mat-option *ngFor="let item of options" [value]="item">
                      {{item.title}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <span class="search-icon"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon></span>
              </form>
          </div>
        </div>
        <div class="main">
            <mat-grid-list cols="4" rowHeight="300px" [gutterSize]="'1rem'">
              <mat-grid-tile class="card calendar"
                  [colspan]="1"
                  [rowspan]="2">
                  <app-calendar></app-calendar>
              </mat-grid-tile>
              <a href="boards">
                <mat-grid-tile class="card"
                    [colspan]="3"
                    [rowspan]="1">
                    <app-todays-task></app-todays-task>
                </mat-grid-tile>
              </a>
              <a href="">
              <mat-grid-tile class="card"
                  [colspan]="3"
                  [rowspan]="1">
                  <app-all-tasks></app-all-tasks>
              </mat-grid-tile>
              </a>
            </mat-grid-list>
          </div>
        </div>
    </main>