<div>
    <app-side-nav></app-side-nav>
  </div>
    <main>
      <div class="display-area">
        <div class="welcome-container">
          <div class="">
              <h1>Welcome, {{ userData.login }}!</h1>
              <h3>Here is your plan for today</h3>
          </div>
            <div class="search-container">
              <form action="" class="search-bar">
                <input type="text" placeholder="Find necessary task!" name="q">
                <button type="submit"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon></button>
              </form>
          </div>
          <div class="user-container">
            <p class="user-name">{{ userData.login }}</p>
          </div>
        </div>
        <div class="main">
            <mat-grid-list cols="4" rowHeight="300px" [gutterSize]="'1rem'">
              <mat-grid-tile class="card"
                  [colspan]="1"
                  [rowspan]="2">
                  <app-calendar></app-calendar>
              </mat-grid-tile>
              <mat-grid-tile class="card"
                  [colspan]="3"
                  [rowspan]="1">
                  <app-todays-task></app-todays-task>
              </mat-grid-tile>
              <mat-grid-tile class="card"
                  [colspan]="1"
                  [rowspan]="1">
                  <app-all-tasks></app-all-tasks>
              </mat-grid-tile>
              <a href="kanban-table">
              <mat-grid-tile class="card"
                  [colspan]="2"
                  [rowspan]="1">
                  <app-all-tasks></app-all-tasks>
              </mat-grid-tile>
              </a>
            </mat-grid-list>
          </div>
        </div>
    </main>