.bold{
    font-weight: bold;
}


main{
    position: absolute;
    width: 100%;
    top:6rem;
    z-index: 1;

}

app-side-nav{
    position: absolute;
    left:0rem;
    width:100px;
    height: 100%;
    background-color: rgb(23,31,57);
}

.display-area{
    height:100%;
    width:90%;
    position: absolute;
    left:10rem;
}

.container{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: block;
    height:40rem;
    width: 40rem;
    border-radius: 1.5rem;
    background-color: white;
}

.close{
    display: flex;
    width:95%;
    padding-top:1rem;
    justify-content: flex-end
}

.close button{
    cursor: pointer;
    border:none;
    background: transparent;
}

.task-name{
    padding:1rem 0 0 2rem;
}

.task-name input{
    background: transparent;
    flex:1;
    border:0;
    outline:none;
    border:none;
    font-size: 2rem;
    font-weight: 600;
}

::placeholder{
    color: #313131;
}

.content{
    width:40%;
    padding:2rem 0 0 2rem;
}

.card .status,
.card .due,
.card .priority{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    color:rgb(156, 156, 156)
}

mat-form-field{
    height:4rem;
    width:10rem;
}

.submit{
    padding-top:1rem;
    width: 100%;
    height:40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.submit button{
    cursor: pointer;
    height:4.5rem;
    padding: 1.5rem 10rem;
    font-size: 20px;
    border:none;
    border-radius: 1rem;
    background-color: rgb(23,31,57);
    color:white;
    transition: 0.3s;
}

.submit button:hover{
    background-color: orange;
}