<div class="">
    <app-side-nav></app-side-nav>
</div>
<div class="display-area">
    <p class="header">Project interview/ <span class="bold">Kanban view</span></p>
    <main>
        <mat-grid-list cols="3" rowHeight="400px" [gutterSize]="'1rem'">
            <mat-grid-tile class="card" [colspan]="1" [rowspan]="2">
                <div class="head">
                    To do
                </div>
                <div class="content">

                </div>
                <div class="btn">
                    <button class="add-button">+ Add task</button>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="card" [colspan]="1" [rowspan]="2">
                <div class="head">
                    In progress
                </div>
                <div class="content">
                    
                </div>
            <div class="btn">
                <button class="add-button">+ Add task</button>
            </div>
            </mat-grid-tile>
            <mat-grid-tile class="card" [colspan]="1" [rowspan]="2">
                <div class="head">
                    Done
                </div>
                <div class="content">
                    
                </div>
                <!--(click)="add(item)" create function add later on-->
                <div class="btn">
                    <button class="add-button">+ Add task</button>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </main>
</div>