main{
    position: absolute;
    width: 100%;
    top:4rem;
    z-index: 1;
}


.display-area{
    width:100%;
}
.welcome-container{
    display: flex;
    color: rgb(23,31,57);
    justify-content: space-evenly;
    align-items: center;
}

.user-name{
    color:rgb(23,31,57);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.welcome-container h1{
    font-weight: bold;
    font-size: 2.5rem;
}

.welcome-container h3{
    font-weight:lighter;
    font-size: 1.5rem;
}

.search-bar{
    width:100%;
    max-width:700px;
    background:rgba(150, 150, 150, 0.2) ;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding:0 10px;
}

.search-bar input{
    background: transparent;
    flex:1;
    border:0;
    outline:none;
    padding:15px 15px;
    font-size: 17px;
    color:#707070;
}

::placeholder{
    color: #707070;
}

.search-bar button mat-icon{
    font-size: 1.5rem;
    color:white
}

app-side-nav{
    position: absolute;
    z-index: 10;
}

.search-bar button:hover{
    background: orange;
}

.card{
    width:100%;
    border-radius: 1.5rem;
    background-color: white;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0.1px 0.1px 10px rgb(219, 213, 213);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mat-grid-list{
    width:75%;
}



::ng-deep .mat-grid-list mat-grid-tile .mat-grid-tile-content{
    display: block !important;
  }

.bold{
    font-weight: bold;
}

.form-control{
    height: 3rem;
    width: 5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(23,31,57);
    text-transform: uppercase;
    padding:0.5rem;
}


.search-form{
    display: flex;
    align-items: baseline;
}

.search-icon{
    display: flex;
    align-items: center;
    color:white;
    justify-content: center;
    border:0;
    border-radius: 50%;
    width:37px;
    height:37px;
    background: rgb(23,31,57);
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .display-area{
        left:3rem;
    }
    
}

@media screen and (max-width: 758px) {

    .display-area{
        left:2rem;
    }
    
    .welcome-container{
        padding-left: 5rem;
        display: flex;
        flex-direction: column;
    }

    .welcome-container h1{
        font-weight: bold;
        font-size: 2rem;
    }
    
    .welcome-container h3{
        font-weight:lighter;
        font-size: 1.6rem;
    }
    
    .search-bar{
        width:100%;
        max-width:700px;
        background:rgba(150, 150, 150, 0.2) ;
        display: flex;
        align-items: center;
        border-radius: 60px;
        padding:0 10px;
    }
    .mat-grid-list{
        width:100%;
    }

    .calendar{
        display: none;
    }

    .main{

    }

    ::ng-deep .mat-grid-list mat-grid-tile{
        height: 300px !important;
        width: 300px !important;
    }
    
}



@media screen and (max-width: 440px) {
    ::ng-deep .mat-grid-list mat-grid-tile{
        height: 250px !important;
        width: 230px !important;
    }
}