div{
    position: absolute;
    left:0rem;
    width:100px;
    height: 100vh;
    display: flex;
    background-color: rgb(23,31,57);
}

.side-nav-content{
    color:white;
}

.nav-list{
    padding-top:10rem;
    list-style: none;
    height:100%;
}

.nav-list-item{
    display: flex;
    padding-top:5rem;
    align-items: center;
    font-size: 1.1rem;
}

.nav-list-item i:hover{
    color:orange;
}


::ng-deep .mdc-form-field {
    display: flex !important;
    flex-direction: column;
}

.slide-toggle p{
    color:white;
    font-weight: bold;
    padding: 0.5rem 0 0.5rem 0;
}

a{
    text-decoration: none;
    color:white;
}

.form-control{
    width: 3rem;
    height:2rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
}