.header{
    display: block;
    font-size: 40px;
    padding:2rem 1rem 3rem 0;
    color:rgb(23,31,57);
}

.display-area{
    width:90%;
    position: absolute;
    left:10rem;
}

.container{
    display: flex;
    flex-direction: row;
    gap:1.5rem;
}

.card{
    display: flex;
    flex-direction: column;
    width:20rem;
    height: 15rem;
    border-radius: 1.5rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(23,31,57);
}

.card:hover{
    cursor: pointer;
    box-shadow: 0.1px 0.1px 10px rgb(219, 213, 213);
}

button{
    border: none;
}

.create{
    color:rgb(185, 183, 183);
    text-transform: uppercase;
}

.remove{
    cursor: pointer;
    padding: 10px 20px;
    background: transparent;
    border: 1px solid rgb(253, 106, 106);
    border-radius: 0.5rem;
    color:rgb(253, 106, 106);
}

.remove:hover{
    background-color: rgba(253, 98, 98, 0.377);
    color: red;
}

.show{
    cursor: pointer;
    padding: 10px 20px;
    background: transparent;
    border: 1px solid rgb(119, 206, 79);
    border-radius: 0.5rem;
    color:rgb(53, 155, 13);
}

.show:hover{
    background-color: rgba(124, 253, 98, 0.377);
    color: rgb(7, 139, 7);
}